<p><%= link_to "Banks Main", "/banks" %> <%= link_to "Branches Main", "/branches" %></p>

<p><%= link_to 'New Branch', "/banks/#{@bank.id}/branches/new" %></p>

<% @branches.each do |branch| %>
  <p><%= link_to branch.name, "/branches/#{branch.id}" %></p>

<% end %>
