<p><%= link_to "Banks Main", "/banks" %></p>

<h1> Branches </h1>

<% @branches.each do |branch| %>
    <p>
      <%= branch.name %> <%= link_to "Edit #{branch.name}", "/branches/#{branch.id}/edit" %>
      <%= button_to "Delete #{branch.name}", "/branches/#{branch.id}", method: :delete %>
    </p>
<% end %>
