<p><%= link_to "Banks Main", "/banks" %></p>

<h1> Branches </h1>

<% @branches.each do |branch| %>
  <header>
    <p><%= branch.name %> <%= link_to "Edit #{branch.name}", "/branches/#{branch.id}/edit" %></p>
  </header>

<% end %>
